# MongoDB Connection Information
# Replace with your MongoDB Atlas or local MongoDB information
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=transitbuddy
MONGODB_USERNAME=
MONGODB_PASSWORD=

# Security
JWT_SECRET=changeThisToASecureRandomString

# Copy this file to env.properties and update with your values
# Do not commit env.properties to git 